<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Index</title>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--<header th:replace="fragments/header"></header>-->
<div class="flex-container">

    <h1 class="text-center">Démo Spring Security</h1>


    <div class="flex-items">
        <h3>sec:authorize="isAuthenticated()"</h3>
        <th:block sec:authorize="isAuthenticated()">
            <p class="success-text">Contenu visible uniquement par un utilisateur authentifié</p>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <p class="error-text"> Utilisateur non connecté</p>
        </th:block>
    </div>

    <div class="flex-items">
        <h3> sec:authorize="hasRole('ADMIN')"</h3>
        <th:block sec:authorize="hasRole('ADMIN')">
            <p class="success-text">Contenu visible uniquement par un utilisateur authentifié avec un rôle
                "ROLE_ADMIN"</p>
        </th:block>
        <th:block sec:authorize="!hasRole('ADMIN')">
            <p class="error-text"> Utilisateur sans le rôle "ROLE_ADMIN"</p>
        </th:block>
    </div>

    <div class="flex-items">
        <h3> sec:authorize="hasRole('USER')"</h3>
        <th:block sec:authorize="hasRole('USER')">
            <p class="success-text"> Contenu visible uniquement par un utilisateur authentifié avec un rôle
                "ROLE_USER"</p>
        </th:block>
        <th:block sec:authorize="!hasRole('USER')">
            <p class="error-text"> Utilisateur sans le rôle "ROLE_USER"</p>
        </th:block>
    </div>


    <div class="flex-items" sec:authorize="isAuthenticated()">
        <h2>Utilisateur connecté : </h2>
        <div  class="flex-items-content">
            <h3> Identifiant : sec:authentication="name"</h3>
            <th:block sec:authentication="name"></th:block>
        </div>
        <div  class="flex-items-content">
            <h3> Autre champs de l'utilisateur (firstName, lastName...) : sec:authentication="principal.username"</h3>
            <th:block sec:authentication="principal.username"></th:block>
        </div>
        <div  class="flex-items-content">
            <h3>Roles de l'utilisateur connecté : sec:authentication="principal.authorities"</h3>
            <th:block sec:authentication="principal.authorities"></th:block>
        </div>
    </div>

    <div class="flex-items" sec:authorize="!isAuthenticated()">
        <h2>Utilisateur non connecté : </h2>
        <div  class="flex-items-content">
            <h3> Identifiant : sec:authentication="name"</h3>
            <th:block sec:authentication="name"></th:block>
        </div>
    </div>

</div>
</body>
</html>