<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
<!--<nav th:fragment="header">
    <div>
        <a th:href="@{/}">Registration and Login System</a>
    </div>
</nav>-->
<header th:replace="~{fragments/header :: header}"></header>
        <div>
            <div th:if="${param.logout}">
                <div>Vous avez été déconnecté</div>
            </div>
            <div>
                <div>
                    <h2>Se connecter</h2>
                </div>
                <div th:if="${param.error}">
                    <div>Identifiant ou mot de passe incorrect</div>
                </div>
                <div>
                    <form   method="post"
                            th:action="@{/login}"
                            role="form">
                        <div>
                            <label for="login">Identifiant *
                                <input type="text" id="login" name="login" placeholder="Login"/>
                            </label>
                        </div>

                        <div>
                            <label for="password">Mot de passe *</label>
                            <input type="password" id="password" name="password" placeholder="Password"/>
                        </div>

                        <div>
                            <button type="submit">Se connecter</button>
                            <span> Pas de compte ?
                            <a th:href="@{/register}"> Créer un compte</a>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>