<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
</head>
<body>
<nav th:fragment="header">
    <div>
        <a th:href="@{/}">Registration and Login System</a>
        <button>
            <span></span>
        </button>
    </div>
</nav>

<div>
    <div th:if="${param.success}">
        <div>You've successfully registered to our app!</div>
    </div>
    <div>
        <h2>Registration</h2>
    </div>
    <div>
        <form method="post" role="form" th:action="@{/register/save}" th:object="${userDto}">

            <div>
                <label for="login">Login
                    <input id="login" name="login" placeholder="Enter login" type="text"
                           th:field="*{login}"
                    />
                </label>
                <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
            </div>

            <div>
                <label>Password
                    <input id="password" name="password" placeholder="Enter password" type="password"
                           th:field="*{password}"
                    />
                </label>
                <!--                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div>
                <label>Password
                    <input id="matchingPassword" name="matchingPassword" placeholder="Enter password" type="password"
                           th:field="*{matchingPassword}"
                    />
                </label>
                <p th:each="error : ${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</p>

                <p th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>-->
            </div>

            <div>
                <button type="submit">Register</button>
                <span>Already registered?
                            <a href="/" th:href="@{/login}">Login here</a>
                </span>
            </div>
        </form>
    </div>


</div>
</body>
</html>