<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Register</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div>
    <div th:if="${param.success}">
        <div>Compte créé avec succès</div>
    </div>
    <div>
        <h2>Créer un compte</h2>
    </div>
    <div>
        <form method="post" role="form" th:action="@{/register/save}" th:object="${userDto}">

            <div>
                <label for="login">Login
                    <input id="login" name="login" placeholder="Enter login" type="text"
                           th:field="*{login}"
                    />
                </label>
                <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
            </div>

            <div>
                <label>Password
                    <input id="password" name="password" placeholder="Enter password" type="password"
                           th:field="*{password}"
                    />
                </label>
                <!--                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>

            <div>
                <label>Password
                    <input id="matchingPassword" name="matchingPassword" placeholder="Enter password" type="password"
                           th:field="*{matchingPassword}"
                    />
                </label>
                <p th:each="error : ${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</p>

                <p th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
            </div>

            <div>
                <button type="submit">S'enregistrer</button>
                <span>Vous avez déjà un compte ?
                            <a href="/" th:href="@{/login}">Se connecter</a>
                </span>
            </div>
        </form>
    </div>
</div>
</body>
</html>