<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Users</title>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div>
    <div>
        <h1> Registered Users </h1>
        <h2>Connecté : </h2>
        <h3 sec:authentication="name"></h3>
    </div>
    <table>
        <thead>
        <tr>
            <th>Login</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.password}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>